.card .containerFirst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 880px;
  height: 309px;
  margin-top: 29px;
  gap: 20px;
}

.containerFirst .titleIdentification {
  font-family: Calibri;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #7B7B7B;
}

.containerFirst .containerInputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.containerFirst .inputsTextField {
  width: 100%;
}


.containerDate .inputsDate {
  width: 425px;
}